{% extends "base.html" %}

{% block main %}
    <div class="prop">
        <img class="proppic" src="{{url_for("get_image", filename=id.photo)}}"/>
        <div class="propinfo">
            <h5 class ="proptitle">{{id.title}} </h5>
            <div class="pA">
                <span class="price"> {{"${:,}".format(id.price) }} </span>
                <span class ="type"> {{id.prop_type}} </span>
            </div>
            <p>{{id.Desc}} </p>
            <div class="pB">
                <img class="icon" src="{{url_for('static', filename='/bed.png')}}">
                <p class="beds"> {{id.num_bedrooms}} </p><p class="label"> Bedrooms </p>
                <img class="icon1" src="{{url_for('static', filename='/bath.png')}}">
                <p class ="baths"> {{id.num_baths}} </p><p class="label"> Bathrooms </p>
            </div>
            <div class="pC">
                <img class="icon" src="{{url_for('static', filename='/location-icon.png')}}">
                <p class ="loc"> {{id.location}} </p>
            </div>
            <button class="butn"> Email Realtor </button>
        </div>
    </div>    

{% endblock %}